h1 {
    font-family: 'Brush Script MT',cursive;
    font-size: 48px;
    margin-left: 2%;
    margin-right: 2%;
    text-shadow: 10px 10px 10px rgb(170, 170, 170);
}

h1:hover {
    text-shadow: 10px 10px 20px rgb(170, 170, 170);
    transition: 1s;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background: rgba(255, 105, 180, 0.153);
}

ol {
    line-height: 150%;
}

.blurry {
    backdrop-filter: blur(3px);
    padding: 30px;
    margin-right: 80px;
    font-size: 30px;
    text-align: left;
    text-shadow: 5px 5px 10px rgb(255, 255, 255);
    font-family: 'Lucida Calligraphy',cursive;
}

img {
    border-radius: 20px;
    box-shadow: 5px 5px 20px;
}

img:hover {
    box-shadow: 0px 0px 10px rgb(123, 123, 123);
    transition: 1s;
}
